if SHIELD_ZMK_PRACTICE01_LEFT

config ZMK_KEYBOARD_NAME
    default "zmk-practice01"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ZMK_PRACTICE01_LEFT

if SHIELD_ZMK_PRACTICE01_LEFT || SHIELD_ZMK_PRACTICE01_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_ZMK_PRACTICE01_LEFT || SHIELD_ZMK_PRACTICE01_RIGHT
